.container {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid var(--color-gray-light);
	background: none;
	box-shadow: none;
	transition: border 0.3s ease;

	svg {
		width: 16px;
		height: 14px;
		transition: fill 0.3s ease;
	}

	&-active {
		border: 1px solid var(--color-red-normal);
	}
}
